<html>

<head>
  <title>Laugh Tracks</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Knewave|Oswald:500,700|Raleway" rel="stylesheet">
</head>

<body>

  <%= yield %>

</body>

</html>