<h2>Add a Comedian</h2>

<form id="new-comedian" action="/comedians" method="post">

  <h3>Enter comedian information</h3>
  <input type="text" name="comedian[name]" placeholder="Name">
  <input type="text" name="comedian[age]" placeholder="Age">
  <input type="text" name="comedian[city]" placeholder="Birthplace">
  <input type="submit" value="Submit">

</form> 